block addPostButton

  .fixed-action-btn.horizontal.click-to-toggle
    a.btn-floating.btn-large.red.tooltipped(data-position='top', data-delay='50', data-tooltip='Publicar')
      i.material-icons add
