extends layout

block content

    .container.animated.fadeIn(ng-controller='addUserController')
        .row(style='margin-top:3%')
            .col.s6.push-s3.center
                h3.font-title Registrar Misionero
        .row.font-text
            .col.s12
                form(action=server+'/api/user/'+session, method='post', enctype='multipart/form-data')
                    .row
                      .input-field.col.s6
                        input#name.validate(type='text',name='name',required)
                        label(for='name') Nombre Completo
                      .input-field.col.s6
                          input#email.validate(type='email',name='email',required)
                          label(for='email') Correo Electrónico
                    .row
                        .input-field.col.s6
                          input#pass.validate(type='password',name='pass',required)
                          label(for='pass') Contraseña
                        .input-field.col.s6
                          input#pass2.validate(type='password',name='pass2',required)
                          label(for='pass2') Repite tu contraseña
                    .row
                        .input-field.col.s6
                          input#birth.datepicker(type='date',name='birth',required)
                          label(for='birth') Fecha de Nacimiento
                        .input-field.col.s6
                            select(name='type',required)
                              option(value='', disabled='', selected='') Elige una opción
                              option(value='0') Misionero
                              option(value='1') Administrador
                            label Tipo de Usuario
                    .row
                        .input-field.col.s6
                            select(name='place',required)
                                option(value='', disabled='', selected='') Elige una opción
                                each place in places
                                  option(value=place.formatted_address)= place.formatted_address
                            label Lugar de Servicio
                        .input-field.col.s6
                            input#filled-in-box.filled-in(type='checkbox', checked='checked',name='active')
                            label(for='filled-in-box') Activo
                    .row
                        .file-field.input-field
                          .btn.light-blue.accent-1
                            span Imágen de Perfil
                            input(type='file',name='photo',required)
                          .file-path-wrapper
                            input.file-path.validate(type='text')

                    .row
                        .input-field.col.s12
                            textarea#textarea1.materialize-textarea(data-length='250',name='bio')
                            label(for='textarea1') Biografía
                    .row.font-title
                        button.btn.waves-effect.waves-light.light-blue.accent-1(type='submit', name='action')
                          | Guardar
                          i.material-icons.right save





        include add_user_place_button
    
    script.

      $(document).ready(function() {

        $('select').material_select();
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15 // Creates a dropdown of 15 years to control year
          });
      });
                     
