extends layout

block content

    .parallax-container.animated.fadeIn(ng-controller='devotionalsController')
        .section
            .container
                br
                br
                br
                br
                br
                br
                h1(id='devotional_title'+devotional._id).header.center.font-title.white-text= devotional.title
                br
                br
                .row.center
                    a(href="#body").btn-floating.btn-large.waves-effect.waves-light.light-blue.accent-1.darken-2 
                        i.material-icons keyboard_arrow_down

                

        .parallax
            if (devotional.img)
                img(src=server+'/api/devotional/img/'+devotional._id)
            else
                img(src='/images/parallax_back.jpg')


    .contanierx.animated.fadeIn(style='margin-top:4%')
        .row
            .col.s12.m10.push-m1#body
                p(id='devotional_body'+devotional._id).font-text!= devotional.body 
        if (devotional.audio)
            .row.center
                p.font-title Audio:
            .row.center
                audio(controls='')
                  source(src=server+'/api/devotional/audio/'+devotional._id, type='audio/mpeg')
                  | Your browser does not support the audio element.
        if (devotional.video)
            .row.center
                video.responsive-video(controls='')
                    source(src=server+'/api/devotional/video/'+devotional._id, type='video/mp4')

    script.
        var devotional = !{JSON.stringify(devotional)};
        $(document).ready(function(){
          $('#preloader').css("display", "none");
          $('.parallax').parallax();

          $('a').click(function(){
                $('html, body').animate({
                    scrollTop: $( $(this).attr('href') ).offset().top
                }, 500);
                return false;
            });
        });

