extends layout

block content

  style.

    .card .card-buttons {
      position: relative;
      top: -5px;
      text-align: right;
      padding-right: 20px;
      margin-bottom: -20px; }
      .card .card-buttons .btn-floating {
        margin-left: 10px;
        margin-top: -18.5px; }
        .card .card-buttons .btn-floating.btn-large {
          margin-top: -27.75px; }
    .card.small .card-buttons, .card.medium .card-buttons, .card.large .card-buttons {
      top: 0; }

    /*# sourceMappingURL=style.css.map */

  
  .container-fluid
    .row(style='margin-top:3%')
        .col.s12.m4
            .card.hoverable.blue-grey.lighten-5
              .card-image
                img(src='http://materializecss.com/images/sample-1.jpg')
                span.card-title.font-title Juan Pérez de Gante
              // A container for floating buttons
              .card-buttons
                // A small amber button
                a.btn-floating.btn-large.waves-effect.waves-light.teal.tooltipped(data-position="top" data-delay="50" data-tooltip="10")
                  i.material-icons airline_seat_flat
                // A large red button
                a.btn-floating.btn-large.waves-effect.waves-light.red.tooltipped(data-position="top" data-delay="50" data-tooltip="10")
                  i.material-icons favorite
              .card-content
                p.font-text
                  | I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.
              




        .col.s12.m4
            .card.hoverable.blue-grey.lighten-5
              //.card-image
                img(src='http://materializecss.com/images/sample-1.jpg')
                
              // A container for floating buttons
              .card-buttons
                // A small amber button
                a.btn-floating.btn-large.waves-effect.waves-light.teal.tooltipped(data-position="top" data-delay="50" data-tooltip="10")
                  i.material-icons airline_seat_flat
                // A large red button
                a.btn-floating.btn-large.waves-effect.waves-light.red.tooltipped(data-position="top" data-delay="50" data-tooltip="10")
                  i.material-icons favorite
              .card-content
                span.card-title.font-title Juan Pérez de Gante
                p.font-text
                  | I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.         



  include add_post_button