
block navbar
  nav.font-text(role='navigation')
    .nav-wrapper.light-blue.accent-1
        
        ul#nav-mobile.left.hide-on-med-and-down
          li
            a(href='/') Inicio

          li
            a(href='/social/list') Publicaciones
          li
            a(href='/place/list') Áreas de Trabajo
          li
            a(href='/user/list') Misioneros
          li
            a(href='/devotional/list') Devocionales

        ul.right.hide-on-med-and-down
          if (login)
            li
              a(href='/logout') Cerrar Sesión            
          else
            li
              a(href='/login') Iniciar Sesión