
block navbar
  nav
    .nav-wrapper.teal
        
        ul#nav-mobile.left.hide-on-med-and-down
          li
            a(href='sass.html') Inicio
          li
            a(href='badges.html') Publicaciones
          li
            a(href='badges.html') Misioneros
          li
            a(href='collapsible.html') Devocionales

        ul.right.hide-on-med-and-down
          li
            a(href='sass.html') Iniciar Sesión