
block navbar
  nav.font-text(role='navigation')
    .nav-wrapper.light-blue.accent-1
        
        ul#nav-mobile.left.hide-on-med-and-down
          li
            a(href='/') Inicio

          li
            a(href='/social/list') Publicaciones
          li
            a(href='/place/list') Áreas de Trabajo
          li
            a(href='/user/list') Misioneros
          if (login === true)
            li
              a(href='/devotional/list') Devocionales

        ul.right.hide-on-med-and-down
          li#preloader
              
                .preloader-wrapper.small.active(style='margin-top:40%')
                  .spinner-layer.spinner-red-only
                    .circle-clipper.left
                      .circle
                    .gap-patch
                      .circle
                    .circle-clipper.right
                      .circle

          li
              a(href='javascript:void(0)')#translate 
                i.material-icons translate
          if (login)
            li
              a(href='/logout') Cerrar Sesión            
          else
            li
              a(href='/login') Iniciar Sesión