extends layout

block content

  style.

    .card .card-buttons {
      position: relative;
      top: -5px;
      text-align: right;
      padding-right: 20px;
      margin-bottom: -20px; }
      .card .card-buttons .btn-floating {
        margin-left: 10px;
        margin-top: -18.5px; }
        .card .card-buttons .btn-floating.btn-large {
          margin-top: -27.75px; }
    .card.small .card-buttons, .card.medium .card-buttons, .card.large .card-buttons {
      top: 0; }

    /*# sourceMappingURL=style.css.map */

  include add_user_place_button
  
  .containerx(ng-controller='showDevotionalsController')
    .row(style='margin-top:1%').cards-container
      each devotional in devotionals
        .col.s12.m12
            .card.hoverable.blue-grey.lighten-5
              .card-image
                if (devotional.img)
                  img(src='http:///localhost:4000/api/devotional/img/'+devotional._id)
                else  
                  img(src='/images/half-logo.png')
              // A container for floating buttons
              .card-buttons
                // A small amber button
                a.btn-floating.btn-large.waves-effect.waves-light.teal(href='/devotional/read/'+devotional._id)
                  i.material-icons navigation
                // A large red button
                if (type)
                   a.btn-floating.btn-large.waves-effect.waves-light.red(href='#modaldelete', id = devotional._id, ng-click='delete($event)')
                      i.material-icons delete_forever
                   
  


              .card-content
                span.card-title.font-title= devotional.title
                if (devotional.body.length <= 200)
                  p.font-text!= devotional.body
                else
                  p.font-text!= devotional.body.slice(0,200)+'...'



    include delete_button
                        
    