block side-nav
  ul#slide-out.side-nav
    li
      .userView
        
        a(href='#!name')
          span.white-text.name John Doe
        a(href='#!email')
          span.white-text.email jdandturk@gmail.com
    li
      a(href='#!')
        i.material-icons cloud
        | First Link With Icon
    li
      a(href='#!') Second Link
    li
      .divider
    li
      a.subheader Subheader
    li
      a.waves-effect(href='#!') Third Link With Waves
