.font-text
    font-family 'Open Sans', sans-serif

.font-title
    font-family 'Oswald', sans-serif

.light-blue.accent-1
    background-color: #37A4BC !important
.light-blue-text
    color: #37A4BC !important
    
.img-filter

  -webkit-filter opacity(.8)
  filter opacity(.8)
  -webkit-filter blur(2px)
  filter blur(4px)
      
.img-gray
    -webkit-filter grayscale(0.8)
    filter grayscale(0.8)
    



